body {
  background-image: url("index_backg.png");
  background-size: cover;
  background-attachment: fixed;
}

.wrapper {
  font-family: "audiowide", cursive;
  color: #a084e8;
  text-align: center;
  margin-top: 10px;
}

.wrapper h1 {
  font-family: "audiowide", cursive;
  font-size: 30px;
}

.wrapper p {
  font-size: 20px;
  color: #d5ffe4;
  font-family: "audiowide", cursive;
}

nav.navbar ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
}

nav.navbar li {
  margin: 0 20px;
}

nav.navbar a {
  font-family: "audiowide", cursive;
  background-color: #5d3fd3;
  color: #f8f8ff;
  padding: 10px 20px;
  border-radius: 7px;
  text-decoration: none;
  font-size: 20px;
  transition: background-color 0.3s ease;
  display: inline-block;
}

nav.navbar a:hover {
  background-color: #a084e8;
  transform: scale(1.1);
}
